.about {
    height: calc(100vh - 250px);
    padding: 40px;
}

.about h1 {
    font-size: 40px;
    border-bottom: 3px solid gray;
    width: max-content;
    color: gray;
}

.about p {
    margin: 15px 0;
    font-size: 21px;
}
@media screen and (max-width : 480px) {
    
    .about h1 {
        font-size: 30px;
    }
    .about .info{
    flex-direction: column;
    }
    .about .info img{
     max-width: 90%;
     margin-top: 100px;
    }
    
    .about .info p{
        max-width: 100%;
        line-height: 1.8;
        font-size: 20px;
        font-weight: bold;
        color: grey;
    }
}
